@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'VT323', monospace;
		scrollbar-gutter: stable both-edges;
	}

	dialog::backdrop {
		backdrop-filter: blur(2px);
	}
}
